.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logon-container section.form {
    width: 100%;
    max-width: 400px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 50px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form input {
    margin-bottom: 5px;
}

.logo {
    min-width: 25rem;
}

.img {
    width: 100%;
    max-width: 550px;
}