:root {
    font-size: 60%;

    --color-background: #F0F0F0;
    --color-primary: #52658c;
    --color-primary-lighter: #52658cbf;
    --color-secondary: #00000f;
    --color-secondary-light: #00000fbf;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
}

* {
    margin: 10;
    padding: 10;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 500 1.6rem Poppins;
    background: var(--color-background);
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 500 1.6rem Poppins;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: var(--color-primary);
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

.searchform {
    width: 30%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-right: 10px;
}

.smallbutton {
    width: 20%;
    height: 50px;
    background: var(--color-primary);
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    transition: filter 0.2s;
}

.smallbutton:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}
